azure-functions==1.7.0
azure-keyvault==4.1.0
azure-loganalytics==0.1.0
azure-mgmt-compute==12.1.0
azure-mgmt-storage==4.0.0
signalfx==1.1.13
azure-identity==1.5.0
python-dateutil==2.8.1

requests~=2.25.1
msrest~=0.6.21
PyYAML==5.4.1
